
p{
    color:rgba(0, 0, 255, 0.596);
    font-size: 50px;
    text-align: center;
}
#parrafo1{
    color:rgb(107, 29, 1);
    font-size: 20;
    text-align: center;
}

#parrafo2{
    color:rgb(204, 231, 33);
    font-size: 20;
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
